.card-badge {
     font-size: 13px;
     color: #757B83;
     background-color: #F3F4F6;
     margin: 0 8px;
     padding: 2px 5px;
 }

 .trand-img-slider {
     display: flex;
     align-items: center;
     overflow: hidden;
 }

 .img-slider-container {
     width: 1408px;
     overflow: hidden;
 }

 .slds-card {
     margin: 0;
     padding: 0;
 }

.slds-card > div {
    position: relative;
    padding-top: 100%;
    overflow: hidden;
}

.slds-card footer {
    margin: 15px;
}

.slds-card footer p:first-child {
    font-weight: 900;
}

.slds-card:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 10px 16px -2px;
    transition: all 0.1s linear;
}

.slds-card:hover img {
    transform: scale(1.1);
    transition: all 0.1s linear;
    overflow: hidden;
}

.slds-card:hover p:first-child {
    text-decoration: underline;
}

.slider-card img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.arrow-button {
    width: 52px;
    height: 52px;
    border: 1px solid #E8E8E8;
    text-align: center;
    line-height: 52px;
}

.swiper-slide {
    padding: 0;
    margin: 0;
}

.swiper-slide > div {
    position: relative;
    padding-top: 100%;
    overflow: hidden;
}

.slider div footer {
    text-align: left;
}

.slider div footer p:first-child {
    margin-bottom: 12px;
}

.slider div footer p:last-child > span:first-child {
    margin-left: 0;
}