.THIS #map {
    height: 500px;
}

.THIS .search-input {
    width: 70%;
}

.THIS .icon-slds {
    width: 25px;
}

.THIS .trending-icon {
    border-radius: 5px;
    background-color: aquamarine;
    cursor: pointer;
}

.THIS .trending-icon > img {
    filter: hue-rotate(300deg);
}